<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Owned Channels </mat-panel-title>
      <mat-spinner class="table-loader" *ngIf="!loaded" [diameter]=24 [strokeWidth]=4></mat-spinner>
    </mat-expansion-panel-header>
    <mat-table #table [dataSource]="ownedDataSource">
      <!--Channel Name Column-->
      <ng-container matColumnDef="ChannelName">
        <mat-header-cell *matHeaderCellDef> Channel Name </mat-header-cell>
        <mat-cell *matCellDef="let element"><a mat-button routerLink="/channel/{{element.name}}">{{element.name}}</a></mat-cell>
        <!-- Also bind the selected channel id!!!! -->
      </ng-container>

      <!--Channel User Count Column-->
      <ng-container matColumnDef="UserCount">
        <mat-header-cell *matHeaderCellDef> User Count </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.user_count}} </mat-cell>
      </ng-container>

      <!--Channel Prefered Comm Column-->
      <ng-container matColumnDef="CommType">
        <mat-header-cell *matHeaderCellDef> Comm Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comm}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>   Subscribed Channels </mat-panel-title>
      <mat-spinner class="table-loader" *ngIf="!loaded" [diameter]=24 [strokeWidth]=4></mat-spinner>
    </mat-expansion-panel-header>
    <mat-table #table [dataSource]="subscribedDataSource">
      <!--Channel Name Column-->
      <ng-container matColumnDef="ChannelName">
        <mat-header-cell *matHeaderCellDef> Channel Name </mat-header-cell>
        <mat-cell *matCellDef="let element"><a mat-button routerLink="/channel">{{element.name}}</a></mat-cell>
        <!-- Also bind the selected channel id!!!! -->
      </ng-container>

      <!--Channel User Count Column-->
      <ng-container matColumnDef="UserCount">
        <mat-header-cell *matHeaderCellDef> User Count </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.user_count}} </mat-cell>
      </ng-container>

      <!--Channel Prefered Comm Column-->
      <ng-container matColumnDef="CommType">
        <mat-header-cell *matHeaderCellDef> Comm Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comm}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
