.padded-content {
    padding: 10px;
}


#homeButtons {
    margin: 40px;
    padding: 0;
}

.home-navigation {
    margin-bottom: 20px;
}


div.mat-tab-links {
    display:flex;
}


div.mat-tab-links > a.mat-tab-link {
    flex: 1;
    &:focus {
        outline-style:none;
        box-shadow:none;
        border-color:transparent;
    }
}
