<form>
  <mat-form-field>
    <mat-select #commType
    name="CommType" name="CommType" placeholder="Choose Comm Type">
    <mat-option *ngFor="let comm of ['EMAIL', 'SMS']" [value]="comm">
      {{comm}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="commType.value === 'EMAIL'">
  <mat-form-field>
    <mat-select placeholder="Choose E-mail">
      <mat-option *ngFor="let email of comms | async | commFilter: 'EMAIL'" [value]="email.value">
        {{email.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="commType.value === 'SMS'">
  <mat-form-field>
    <mat-select placeholder="Choose Phone">
      <mat-option *ngFor="let phone of comms | async | commFilter: 'SMS'" [value]="phone.value">
        {{phone.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br/>
<!-- <span>{{channel.name | async}}</span> -->
<div class="intervals">
  <app-interval class="intervals" [(intervals)]="intervals"></app-interval>
  <button mat-mini-fab class="fab" (click)="createNew()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<br/>
<span>Ya</span>
<button mat-raised-button>SAVE</button>
<span>Ya</span>
<button mat-raised-button color="warn">LEAVE</button>
</form>
