<form>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedNav" (change)="setNav(selectedNav)"
    name="CommType" name="CommType" placeholder="Choose Comm Type">
    <mat-option *ngFor="let commType of commTypes" [value]="commType.view">
      {{commType.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="regTypeSelectedOption === 'email'">
  <mat-form-field>
    <mat-select placeholder="Choose E-mail">
      <mat-option *ngFor="let email of emails" [value]="email.view">
        {{email.name}} - {{email.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="regTypeSelectedOption === 'sms'">
  <mat-form-field>
    <mat-select placeholder="Choose Phone">
      <mat-option *ngFor="let phone of phones" [value]="phone.view">
        {{phone.name}} - {{phone.view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br/>
<div class="intervals">
  <app-interval class="intervals" [(intervals)]="intervals"></app-interval>
  <button mat-mini-fab class="fab" (click)="createNew()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<br/>
<span>Ya</span>
<button mat-raised-button>SAVE</button>
<span>Ya</span>
<button mat-raised-button color="warn">LEAVE</button>
</form>
