
<div class="intervals">
<mat-card class="interval" *ngFor="let interval of intervals">
  <div class="content">
    <button mat-button class="close" (click)="close(interval)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-form-field>
      <mat-select placeholder="Choose Active Days" multiple [(ngModel)]="interval.days">
        <mat-option *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']; let i = index" [value]="i">
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Choose Active Hour Begin" [(ngModel)]="interval.start">
        <mat-option *ngFor="let hour of 96 | indexer" [value]="hour*15">
          {{(hour / 4) | floor | number:'2.0-0'}}:{{((hour * 15) % 60) | number: '2.0-0'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Choose Active Hour Finish" [(ngModel)]="interval.end">
        <ng-container *ngFor="let hour of 96 | indexer">
          <mat-option  *ngIf="hour*15 >= interval.start" [value]="hour*15">
            {{(hour / 4) | floor | number:'2.0-0'}}:{{((hour * 15) % 60) | number: '2.0-0'}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<button mat-mini-fab class="fab" (click)="createNew()">
  <mat-icon>add</mat-icon>
</button>
</div>
