$content-padding: 24px 24px 0 24px;

.padded-content {
    padding: $content-padding;
    display: flex;
    flex-direction: column;
}


#homeButtons {
    margin: 40px;
    padding: 0;
}

div.mat-tab-links {
    display:flex;
}


div.mat-tab-links > a.mat-tab-link {
    flex: 1;
    &:focus {
        outline-style:none;
        box-shadow:none;
        border-color:transparent;
    }
}

span.channel-name {
    margin-bottom: 24px;
}
