<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step label="Name Your Channel" [stepControl]="nameGroup">
    <form [formGroup]="nameGroup" class="step-container">
      <mat-form-field>
        <input formControlName="channelName" matInput placeholder="Channel Name" id="channel_name" type="text" name="channelName" required [(ngModel)]="channel.name">
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step label="Configure Communication Type" [stepControl]="commGroup">
    <form [formGroup]="commGroup" class="step-container">
        <app-communications [(ngModel)]="channel.comm" [communications]="comms | async" formControlName="commValue" >
        </app-communications>
    </form>
  </mat-step>
  <mat-step label="Configure Active Hours" [stepControl]="timeForm">
    <form>
      <div>
        <app-preferences [(preference)]="channel.preference"></app-preferences>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<mat-card-actions>
      <button mat-button (click)="proceed()">
      {{(stepper.selectedIndex < 2) ? 'NEXT' : 'CREATE'}}
    </button>
</mat-card-actions>
