#registerCard {
    width: 400px;
    text-align:center;
    margin: 42px auto 42px auto;
    padding: 0;
}

.home-navigation {
    margin-bottom: 20px;
}

div.mat-tab-links {
    display: flex;
}

div.mat-tab-links > a.mat-tab-link {
    flex: 1;
}

form {
    margin: 20px;
}
