<form>
    <mat-form-field>
        <input required matInput placeholder="Username" id="signup_username" type="text" name="username">
    </mat-form-field>
    <mat-form-field>
        <input required matInput placeholder="E-Mail" class="text-input" id="signup_email" type="text" name="email">
    </mat-form-field>
    <mat-form-field>
        <input required matInput placeholder="Password" id="signup_password" type="password" name="password">
    </mat-form-field>
    <br/>
    <mat-card-actions>
        <button mat-raised-button name="submit" color="accent">
            Register
        </button>
    </mat-card-actions>
</form>
